<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the Username"><br>
    <input type="text" name="First_name" placeholder="Enter your First name"><br>
    <input type="text" name="Last_name" placeholder="Enter your Last name"><br>
    <input type="email" name="email" placeholder="Enter you email address"><br>
    <input type="password" name="password" placeholder="Enter the password"><br>
    <input type="password" name="password1" placeholder="Confirm the password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

</body>
</html>